#container {
    height: 600px;
}

#userList {
    padding: 0px;
}

#chatArea {
    padding: 0px 0px;
    position: relative;
}

#childNav {
    height: 60px;
    padding: 0px 0px;
}

#searchUser {
    width: 260px;
}

#userName {
    width: 100%;
}

#searchbtn {
    width: 60px;
    margin: 0px 0px !important;
    height: 33px;
}

#chat {
    max-height: 350px;
    overflow: auto
}

#chatInput {
    width: 700px;
    margin-left: 15px;
    margin-top: 22px;
    height: 45px;
}

#chatSendbtn {
    margin-top: 25px;
    width: 60px;
    margin-left: 15px;
}

#inputdiv{
    position: absolute;
    bottom: 0;
}

#msges{
    margin: 40px 40px;
}